@import "../../styles/colors.scss";
.navbar-toggler,
.navbar-toggler:focus .navbar-toggler:focus .navbar-toggler:hover {
  border: none !important;
  color: black;
}

.nav-item {
  align-self: baseline;
}

.btn-new-task {
  background-color: $white;
  padding: 5px 5px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.error-text {
  color: $danger;
  font-size: smaller;
  font-weight: 500;
}
.btn-logout {
  background-color: $danger;
  padding: 5px 5px;
  border-radius: 10px;
  margin-right: 10px;
  color: $white;
  cursor: pointer;
}
