$white: #f5f7fa;
$black: #263238;
$danger: #e53835;
$warning: #fbc02d;
$success: #2e7d31;
$info: #2194f3;
$progress: #86bbe7;
$deleted: #f57775;
$completed: #4dc997;
$primary: #28cb8b;
$primary-dark: #388e3b;
