@import "./styles/colors.scss";
#root {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  margin: 10px 0px 10px 0px;
  height: 45px;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  scrollbar-width: thin;

  .content-wrapper {
    flex: 1 0 auto;
    display: flex;
    background: $white;
  }
}
